<!-- start footer  -->
<footer>

    <div class="row">

        <div class="d-flex justify-content-around  align-items-center mt-5 mb-5">
            <!-- start link  -->

            <ul class="nav flex-column">

                <li class="nav-item ">

                    <a class="nav-link text-black" href="#"><i class="bi bi-envelope-fill"></i> Gmail</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link text-black" href="#"><i class="bi bi-instagram"></i> Instgram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#"><i class="bi bi-facebook"></i> Facebook</a>
                </li>
            </ul>

            <!-- start my link  -->
            <div class="d-flex">
                <div class="d-flex" style="height: 100px;">
                    <div class="vr"></div>
                </div>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-black">Design By Ali : 2022</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-black" href="#"><i class="bi bi-envelope-fill"></i> Gmail</a>
                    </li>


                </ul>


            </div>


        </div>
    </div>

</footer>
<!-- end footer  -->