<style>
    .ali-img-contact-me {
        height: 800px;
        object-fit: cover;
    }
</style>

<div class="row pb-5" style="background-color:black;margin:0px;">


    <p class="text-center text-white text-capitalize fs-3 fst-italic mt-5 mb-5 pb-5">Keep Touch with Me</p>



    <div class="row align-items-center mb-5 " style="margin-top:80px;">


        <div class="col-lg-6">

            <!-- <img class="img-fluid p-5 ali-img-contact-me "
                src="../static/img/marianne/30530543_2170623426596786_1636773669562744832_n.jpg" alt="" />  -->

        </div>



        <div class="col-lg-5 mb-4 text-center text-md-start">

            <!-- start form  -->
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-white">Name</label>
                    <input type="text" class="form-control feedback-input" id="exampleInputEmail1"
                        aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label text-white">Email</label>
                    <input type="email" class="form-control feedback-input" id="exampleInputPassword1">
                </div>
                <div class="mb-3 ">
                    <label for="exampleFormControlTextarea1" class="form-label text-white">your Message</label>
                    <textarea class="form-control feedback-input" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-light" type="button">Send</button>

                </div>
            </form>
            <!-- end form  -->


        </div>

    </div>




</div>